<header class="main-header">
    <nav class="main-header-nav">
        <ul> <!--itens da esquerda-->
            <li class="main-header-item"><a href="/" class="<%= path === '/' ? 'active' : ' ' %> ">inicio</a></li>

            <% if(loggedIn){ %>
                <li class="main-header-item"><a href="/cart" class="<%= path === '/cart' ? 'active' : ' ' %> ">carrinho</a></li>
            <% if(user.isAdmin) {%>
            <li class="main-header-item"><a href="/admin/add-product" class="<%= path === '/add-product' ? 'active' : ' ' %> ">add produtos</a></li>                
                <% } %> 
            <% } %> 

        </ul>

        <!--itens da direita-->
        <ul class="dropdown">
            <li class="main-header-item drop-item">
                <p>
                <% if(!loggedIn){ %>
                entrar
                </p>
                <ul>
                    <li class="main-header-item"><a href="/login" class="<%= path === '/login' ? 'active' : ' ' %> ">login</a></li>
                    <li class="main-header-item"><a href="/signup" class="<%= path === '/signup' ? 'active' : ' ' %> ">cadastro</a></li>
                </ul>
                <% }else{ %>
                    Olá, <%= user.name%> 
                </p>
                <ul>
                    <li class="main-header-item">
                        <form action="/logout" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">  
                            <button type="submit">logout</button>
                        </form>
                    </li>
                </ul>
                <% } %> 
            </li>
        </ul>




        <!-- <ul> 
        <% if(loggedIn){ %>
            <li class="main-header-item">Olá, <%= user.name%> </li>
            
            <li class="main-header-item">
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">  
                    <button type="submit">logout</button>
                </form>
            </li>
            
        <% }else { %>  
            <li class="main-header-item"><a href="/login" class="<%= path === '/login' ? 'active' : ' ' %> ">login</a></li>
        <% }%>
        </ul> -->
    </nav>
</header>