<%- include('partials/head') %>

</head>

<body class="forms-body">

   <%- include('partials/navigation') %>

   <main class="forms-main"> 
      <h2>Carrinho</h2>
      <div class="cart-wrapper">
      
      <% let totalPrice = 0; %> 
      
      <% if (prods.length>0) { %>
         <ul class="cart">
            <li class="cart-item description">
               <p class="col1">Imagem</p>
               <p class="col2">Produto</p>
               <p class="col3">Quantidade</p>
               <p class="col4">Preço</p>
               <p class="col5">Deletar</p>
            </li>


         <% for(prod of prods) { %>
            <% totalPrice+= parseFloat(prod.price*prod.cartItem.quantity)%> 
            <li class="cart-item">
               <img src="/<%=prod.images[0].path%> "  class="col1 img">
                  <h4 class="col2"><%= prod.title %> </h4>
                  <p class="col3"><%= prod.cartItem.quantity %></p>
                  <p class="col4">R$ <%= (prod.price* prod.cartItem.quantity).toFixed(2)%> </p>
                  <form action="/cart-delete-product" method="POST"  class="col5">
                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                     <input type="hidden" value="<%=prod.id%>" name="id">
                     <button class="delete-btn">X</button> 
                 </form>
            </li>
         <% } %>
         </ul>
         <div class="cart-summary">
            <h3>Resumo da compra:</h3>
            <p>Produtos: <br> <p class="cart-summary-price">R$ <%= totalPrice %></p></p>
            <p>Frete: <br> <p class="cart-summary-price">R$ <%= totalPrice %></p></p></p>
            <p>Total: <br> <p class="cart-summary-price">R$ <%= totalPrice %></p></p></p>
            <form action="/create-order" method="POST" class="center">
               <input type="hidden" name="_csrf" value="<%= csrfToken %>">
               <button type="submit" class="btn">Order Now</button>
            </form>
         </div>
      </div>
      
      <% } else {%>
      <h2>Sem produtos</h2>
      <% } %> 


   </main>

   <%- include('partials/footer') %>