<%- include('partials/head') %>

</head>

<body>

   <%- include('partials/navigation') %>

   <main class="details-main">
       <div class="product-box">
           <div class="product-images">
            <div class="image-roll">
                <% if(prod.images.length>1){ %> 
                <% for(image of prod.images) {%>
                    <img src="/<%=image.path%> " alt="">
                    
                <% } %>
                <% } %> 
               </div>
            <div class="main-image">
                <img src="/<%=prod.images[0].path%> " alt="">
            </div>
            
           </div>
           
                      
            <div class="product-description">
                <h2><%= prod.title %> </h2>
                <p><%= prod.description %> </p>
            </div>
       </div>
       <div class="product-payment">
        <p>R$ <%= prod.price %> </p>
        <form action="/cart" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%=prod.id%>" name="id">
            <button class="btn">Comprar</button>
        </form>
        </div>
   </main>

   <%- include('partials/footer') %>
