<%- include('partials/head') %>

</head>

<body class="forms-body">

    <%- include('partials/navigation') %>

    <main class="forms-main">
        <div class="form-wrapper">
            <h2>Editar Produtos</h2>

        <% if(errorMessage){ %> 
            <div class="user-message user-message-error"><%= errorMessage %> </div>
        <% } %> 

        <form class="main-form" action="/admin/edit-product" method="POST" enctype="multipart/form-data">
            <label for="title">Nome:</label>
            <input 
            class="<%= validationErrors.find(error=> error.param === 'title') ? 'invalid' : '' %>" 
            name="title" id="title" value="<%= prod.title %>" />

            <label for="price">Preço:</label>
            <input
            class="<%= validationErrors.find(error=> error.param === 'price') ? 'invalid' : '' %>" 

            type="number" name="price" id="price" step="any" value="<%= prod.price %>"/>

            <label for="description">Descricao:</label>
            <textarea name="description" id="description"><%= prod.description %></textarea>

            <!-- <label for="imageUrl">URL da Imagem:</label>
            <input name="imageUrl" id="imageUrl" value="<%- prod.imageUrl %>" /> -->

            <label for="image">Imagem:</label>
            <input type="file" name="image" id="image" />

            <input type="hidden" value="<%=prod.id%>" name="id">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <button class="btn">editar</button>
        </form>
        </div>
        
    </main>

    <%- include('partials/footer') %>