<%- include('partials/head') %>

</head>

<body>

   <%- include('partials/navigation') %>

   <main>
      <h2>Lista de Produtos</h2>
      
      <% if (prods.length>0) { %>
         <div class="grid">

         <% for(prod of prods) { %>
            <div class="product-card">
               <% if(loggedIn){ %>
                  <% if(user.isAdmin){ %>  
                  <div class="admin-functions">
                     <a href="/admin/edit-product/<%= prod.id %>"><i class="fas fa-edit"></i></a>
                     <input type="hidden" value="<%=prod.id%>" name="id">
                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                     <a onclick="deleteProduct(this)"><i class="fas fa-trash-alt"></i></a>

                      <!-- <form action="/admin/delete-product" method="POST">
                          <input type="hidden" value="<%=prod.id%>" name="id">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn">Delete</button>
                      </form> -->
                  </div>
                  <% } %>
                  <% } %>  
               <a href="/details/<%= prod.id %>">
                  <img src="/<%=prod.images[0].path%> " alt="">

                  
               </a>
               <div>
                  <h4><%= prod.title %> </h4>
                  <p>R$ <%= prod.price %></p>
               </div>               
            </div>
         
         <% } %>
      </div>

      <% } %>
      
      <div class="pagination">
         <% if(currentPage!==1 && previousPage!==1){ %> 
         <a href="/?page=1">1...</a>
         <% } %>
         <% if(hasPreviousPage) {%>
            <a href="/?page=<%= previousPage %> "><%= previousPage %></a>
            <% } %>  
         <a href="/?page=<%= currentPage %> " class="active"><%= currentPage %></a>
         <% if(hasNextPage) {%>
         <a href="/?page=<%= nextPage %> "><%= nextPage %></a>
         <% } %> 
         <% if(lastPage!==currentPage&&nextPage!==lastPage){ %>
         <a href="/?page=<%= lastPage %> ">...<%= lastPage %></a>
         <% } %> 

      </div>
   </main>

   <%- include('partials/footer') %>