<%- include('partials/head') %>

</head>

<body>

    <%- include('partials/navigation') %>

    <main>
        <h2>Login</h2>
        <% if(errorMessage){ %> 
            <div class="user-message user-message-error"><%= errorMessage %> </div>
        <% } %> 

        <form class="main-form" action="/new-password" method="POST">

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" />
            
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <button class="btn">Redefinir senha</button>
        </form>

    </main>

    <%- include('partials/footer') %>